spring:
  application:
    name: // NAME
  output:
    ansi:
      enabled: // Optional
  data:
    web:
      pageable:
        default-page-size: // Optional

// Delete if you not use liquibase
  liquibase:
    change-log: // Dir configuration file (liquibase-changelog.xml)
    url:
    user:
    password:
    enabled:

  datasource:
    url:
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database:
    database-platform:
    open-in-view: false
    generate-ddl: false

server:
  port:
